<footer>
	<div class="contact" id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h2>Contact</h2>
					<h3>“If I had asked people what they wanted, they would have said faster horses. ”<br>
					- Henry Ford</h3>
				</div>
				<div class="col-md-2 col-md-offset-1">
					<p>
						<a href="mailto:kenlaguardia2017@gmail.com"><i class="fa fa-envelope fa-2x"></i> Email</a>
					</p>
					
				</div>
				<div class="col-md-2 col-md-offset-1">
					<p>
						<a href="https://github.com/kenlaguardia" target="_blank"> <i class="fa fa-github fa-2x"></i> Github</a>
					</p>
				</div>
				<div class="col-md-2 col-md-offset-1">
					<p>
						<a href="https://plus.google.com/115108187601964002273" target="_black"><i class="fa fa-google-plus fa-2x"></i> Ken Laguardia</a>
					</p>
				</div>
			</div>
		</div>	
	</div>
</footer>
<script src="https://code.jquery.com/jquery-2.1.3.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/scripts/jGravity-min.js"></script>
<script src="/dist/js/main.min.js"></script>
</body>
</html>