<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ken Laguardia Interactive Resume</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="/dist/css/main.min.css">
</head>

<body class="inner">

	<nav class="navbar navbar-default navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="true">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
				</button> 
				<a href="/" class="navbar-brand">Ken Laguardia</a>
			</div>
			<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-2" aria-expanded="true">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/#profile">Profile</a></li>
					<li><a href="/#experiences">Experiences</a></li>
					<li><a href="/#abilities">Abilities</a></li>
					<li><a href="/#portfolio">Portfolio</a></li>
					<li><a href="/#contact">Contact</a></li>
					<% if(!currentUser){ %>
					<li><a href="/login">Login</a></li>
					<!-- <li><a href="/register">Sign Up</a></li> -->
					<% }else{ %>
					<li><a href="#">Howdy <%= currentUser.username %></a></li>
					<li><a href="/logout">Logout</a></li>
					<% } %>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container header--fix">
		<% if(error && error.length > 0 ){%>
		<div class="alert alert-danger" role="alert"><%= error %></div>
		<% } %>
		<% if(success && success.length > 0 ){%>
		<div class="alert alert-success" role="alert"><%= success %></div>
		<% } %>
	</div>