<% include partials/header %>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron text-center">
				<h1>404 :(</h1>
				<h2>Not Found</h2>
				<p>
Apologies, but the page you requested could not be found.</p>
				<a href="/" class="btn btn-primary">Go Back</a>
			</div>
		</div>
	</div>
</div>
<% include partials/footer %>