<% include partials/header-landing %>

<div class="slider__case home">
	<div class="container slider__case--vertical--align">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center slider__case--color--white">Ken Interactive Resume</h1>
			</div>
		</div>
	</div>
</div>
<div class="profile" id="profile">
	<div class="container">
		<div class="row ">
			<div class="col-md-12 text-center">
				<h2 class="">Profile</h2>
				<h3>I'm a creative and resourceful Web developer</h3>
				<hr>
			</div>
		</div>
		<div class="row gutter-30">
			<div class="col-md-4">
				<h4>About me</h4>
				<p>
					I’m a Front End Web developer. With over two years of experience in web development, I have delivered projects requiring HTML5, CSS,JavaScript, JQuery, and bootstrap framework. I have wide range of experience working on simple websites and as well as collaborating with other developers on complex projects. 
				</p>
				<p>
					My portfolio includes beautiful, professional, responsive and adaptive corporate and e-commerce websites. I’m also open to do small website changes such as building adaptive websites, content changes/maintenance and SEO optimization.
				</p>
			</div>
			<div class="col-md-4">
				<img src="../images/KenLaguardia.jpg" alt="KenLaguardia" class="img-responsive img-circle profile-img">
			</div>
			<div class="col-md-4">
				<h4>Details</h4>
				<strong>Name:</strong>
				<p>Ken Laguardia</p>
				<strong>Age:</strong>
				<p>25 years</p>
				<strong>Location:</strong>
				<p>Baguio City, Benguet, Philippines</p>
			</div>
		</div>
		<div class="row gutter-30">
			<div class="col-md-12 text-center">
				<p>Got inspired? Copied the theme? Or do you just like the website? No problem, just buy me a beer and make me happy!</p>
				
				<p><a href="https://paypal.me/SkLaguardia" class="btn btn-warning btn-sm">Donate</a></p>
			</div>
		</div>
	</div>
</div>
<div class="experiences" id="experiences">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Experiences</h2>
				<h3>“Protons give an atom its identity, electrons its personality.”<br>
				- Bill Bryson, A short history of nearly everything</h3>
			</div>
		</div>
		<div class="row experience">
			<div class="col-md-12">
				<h3>Education</h3>
			</div>
		</div>
		<div class="row experience">
			<div class="col-md-4">
				<h5>Informatics Institute</h5>
				<p>SY 2011	- 2013</p>
			</div>
			<div class="col-md-8">
				<h6>Course - Advance Diploma in Information Technology</h6>
				<p>Informatics Philippines is a part of globally established multinational corporation based in Singapore, wholly commited to providing quality education and training in Information and Communications Technology.<br>
				In this two year vocational course I learn the fundamentals of programming and all my knowledge on designing a userfriendly applications and also network administration.
				</p>
				<p>Baguio City - <a href="http://www.informatics.edu.ph/" target="_Blank">http://www.informatics.edu.ph/</a></p>
			</div>
		</div>
		<div class="row experience">
			<div class="col-md-4">
				<h5>Lynda.com</h5>
				<p>April 2016	- On Going</p>
			</div>
			<div class="col-md-8">
				<h6>Course - Become a Full-Stack Web Developer</h6>
				<p>Skills to work with both back-end and front-end technologies as a full-stack developer. Develop a solid foundation for working with servers and host configurations, performing database integrations, and troubleshooting front-end development issues.</p>
				<p>When I started this Course I'm already a well rounded Front-end Developer, I learned all the dos and dont's on creating and mentaining a web application on my recent employment <a href="http://leadsonlinemarketing.com/">Leads Online Marketing in North Carolina</a> but as I watched every lessons there is always something new to learn.</p>
				<p>Online - <a href="https://www.lynda.com/learning-paths/Web/become-a-full-stack-web-developer" target="_Blank">https://www.lynda.com/learning-paths/Web/become-a-full-stack-web-developer</a></p>
			</div>
		</div>
		<div class="row experience">
			<div class="col-md-4">
				<h5>www.udemy.com</h5>
				<p>August 2017	- Nov 2017</p>
			</div>
			<div class="col-md-8">
				<h6>Course - The Web Developer Bootcamp</h6>
				<p>When you're learning to program you often have to sacrifice learning the exciting and current technologies in favor of the "beginner friendly" classes. With this course, you get the best of both worlds. This is a course designed for the complete beginner, yet it covers some of the most exciting and relevant topics in the industry.</p>
				<p><strong>After finishing this Course I decided to create this site to showcase my skills</strong></p>
				<p>Throughout the course I learn how to use tons of tools and technologies including:</p>
				<div class="col-md-6">
					<ul>
				<li>HTML5</li>
				<li>CSS3</li>
				<li>JavaScript</li>
				<li>Bootstrap</li>
				<li>SemanticUI</li>
				<li>DOM Manipulation</li>
				<li>jQuery</li>
				<li>Unix(Command Line) Commands</li>
				<li>NodeJS</li>
				</ul>
				</div>
				<div class="col-md-6">
					<ul>
				<li>NPM</li>
				<li>ExpressJS</li>
				<li>REST</li>
				<li>MongoDB</li>
				<li>Database Associations</li>
				<li>Authentication</li>
				<li>PassportJS</li>
				<li>Authorization</li>
				</ul>
				</div>
				
				<div class="clearfix"></div>
				<p>Online - <a href="https://www.udemy.com/the-web-developer-bootcamp/" target="_blank">https://www.udemy.com/the-web-developer-bootcamp/</a></p>
			</div>
		</div>

		<!-- carrer -->
		<div class="row experience">
			<div class="col-md-12">
				<h3>Career</h3>
			</div>
		</div>
		<div class="row experience">
			<div class="col-md-4">
				<h5>Leads Online Marketing</h5>
				<p>April 2015 - Current</p>
			</div>
			<div class="col-md-8">
				<h6>Fulltime - Web Developer</h6>
				<p>Leads Online Marketing is a Full Service Marketing Agency when it comes to your online need. My Professional Carrer Here it all began, I'm responsible on Creating the website base on a PSD file and converting it to a working website powered by Wordpress and at the same time maintaining 60+ Live sites</p>
				<p>Charlotte North Carolina - <a href="http://leadsonlinemarketing.com/">http://leadsonlinemarketing.com/</a></p>
			</div>
		</div>
		<div class="row experience">
			<div class="col-md-4">
				<h5>Leap IT Solutions</h5>
				<p>October 2014	- November 2017</p>
			</div>
			<div class="col-md-8">
				<h6>Fulltime - Senior Web Developer</h6>
				<p>Leap is a start up company based here in the Philippines, Im responsible on creating all there websites using Wordpress and also I'm the one maintaining the sites like content updates, Google webmaster and analytics Integration</p>
				<p>Antipolo Rizal - <a href="http://leap-solutions.com/" target="_blank">http://leap-solutions.com/</a></p>
			</div>
		</div>
		<div class="row experience">
			<div class="col-md-4">
				<h5>Websiteitup</h5>
				<p>April 2015- On Going</p>
			</div>
			<div class="col-md-8">
				<h6>Part time - Frontend Developer</h6>
				<p>Websiteitup is a Web Design company based on Murray Utah, My friend is a senior developer on this company and whenever they need extra help for there big company project always there to help them</p>
				<p>Murray Utah - <a href="https://websiteitup.com/" target="_blank">https://websiteitup.com/</a></p>
			</div>
		</div>
		
		<div class="row experience">
			<div class="col-md-4">
				<h5>Upwork</h5>
				<p>Mar 2014	- On Going</p>
			</div>
			<div class="col-md-8">
				<h6>Freelance - Web Developer</h6>
				<p>When I have enough time im browsing through job applications and applying on one time project jobs</p>
				<p>Online</p>
			</div>
		</div>
	</div>	
</div>
<div class="abilities" id="abilities">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Abilities</h2>
				<h3>“Life without knowledge is death in disguise.”<br>
					- Talib Kweli</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3>Skills</h3>
			</div>
			<div class="col-md-6">
				<ul class="no-bullets">
					<li> 
						<span class="ability-title">Bootstrap Framework</span> 
						<span class="ability-score">	
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
						</span>
					</li>
					<li> 
						<span class="ability-title">SemanticUI</span> 
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
						</span>
					</li>
					<li> 
						<span class="ability-title">CSS(3)</span> 
						<span class="ability-score">	
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
						</span>
					</li>
					<li> 
						<span class="ability-title">HTML(5)</span> 
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
						</span>
					</li>
					<li> 
						<span class="ability-title">JavaScript</span> 
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
						</span>
					</li>
					<li> 
						<span class="ability-title">JQuery</span> 
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star"></span> 
						</span>
					</li>
					<li> 
						<span class="ability-title">DOM Manipulation</span> 
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star"></span> 
						</span>
					</li>
					<li> 
						<span class="ability-title">MySQL</span> 
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
						</span>
					</li>
					<li> 
						<span class="ability-title">PHP</span> 
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
						</span>
					</li>
					<li> 
						<span class="ability-title">Wordpress</span> 
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star"></span>
						</span>
					</li>
					
					<li> 
						<span class="ability-title">Command line Inteface</span> 
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star "></span> 
						</span>
					</li>
					
					
				</ul>
			</div>
			<div class="col-md-6">
				<ul class="no-bullets">
					<li> 
						<span class="ability-title">REST</span> 
						<span class="ability-score">	
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star"></span>
						</span>
					</li>
					<li> 
						<span class="ability-title">MongoDB</span> 
						<span class="ability-score">	
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star "></span>
							<span class="glyphicon glyphicon-star "></span>
						</span>
					</li>
					<li> 
						<span class="ability-title">Database Associations</span> 
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
						</span>
					</li>
					<li> 
						<span class="ability-title">Authentication</span> 
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star "></span>
						</span>
					</li>
					<li> 
						<span class="ability-title">PassportJS</span> 
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
						</span>
					</li>
					<li> 
						<span class="ability-title">Authorization</span> 
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star "></span>
							<span class="glyphicon glyphicon-star "></span>
						</span>
					</li>
					
					<li> 
						<span class="ability-title">Unix(Command Line) Commands</span> 
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star "></span> 
						</span>
					</li>
					<li> 
						<span class="ability-title">NodeJS</span> 
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span> 
						</span>
					</li>
					<li> 
						<span class="ability-title">NPM</span> 
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star "></span> 
						</span>
					</li>
					<li> 
						<span class="ability-title">ExpressJS</span> 
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span> 
						</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3>Languages</h3>
			</div>
			<div class="col-md-6">
				<ul class="no-bullets">
					<li> 
						<span class="ability-title">Filipino (Mother tongue)</span> 
						<span class="ability-score">	
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
						</span>
					</li>
				</ul>
			</div>
			<div class="col-md-6">
				<ul class="no-bullets">
					<li> 
						<span class="ability-title">English (Daily use)</span> 
						<span class="ability-score">	
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star"></span>
						</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3>Tools</h3>
			</div>
			<div class="col-md-6">
				<ul class="no-bullets">
					<li> 
						<span class="ability-title">Firefox</span> 
						<span class="ability-score">	
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
						</span>
					</li>
					<li> 
						<span class="ability-title">Google Chrome</span> 
						<span class="ability-score">	
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
						</span>
					</li>
					<li> 
						<span class="ability-title">Safari</span> 
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
						</span>
					</li>
					<li> 
						<span class="ability-title">Internet Explore 10+ (8 years)</span> 
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
						</span>
					</li>
					<li> 
						<span class="ability-title">MS Office (10+ years)</span> 
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
						</span>
					</li>
					<li> 
						<span class="ability-title">Windows (10+ years)</span> 
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
						</span>
					</li>
					
				</ul>
			</div>
			<div class="col-md-6">
				<ul class="no-bullets">
					<li> 
						<span class="ability-title">Linux/Ubuntu/Linux Mint (2+ years)</span> 
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
						</span>
					</li>
					<li> 
						<span class="ability-title">Git / Git Flow</span> 
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
						</span>
					</li>
					
					<li> 
						<span class="ability-title">LAMP/WAMP (2 year)</span> 
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span> 
						</span>
					</li>
					<li> 
						<span class="ability-title">Sublime Text (2 years)</span> 
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span> 
						</span>
					</li>
					<li> 
						<span class="ability-title">Adobe Photoshop (6 years)</span> 
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span> 
						</span>
					</li>
					<li> 
						<span class="ability-title">Adobe Illustrator (2 years)</span> 
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span> 
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>	
</div>
<div class="portfolio" id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Portfolio</h2>
				<h3>“You can do anything you set your mind to.”<br>
					- Benjamin Franklin</h3>
			</div>

		</div>
		<div class="row text-center gutter-30" style="display: flex; flex-wrap: wrap;">
			<% portfolios.forEach(function (portfolio) { %>
			<div class="col-md-4">
				<div class="thumbnail thumnail--mod">
					<img src="<%= portfolio.image %>" alt="" class="img-responsive--full">
					<div class="caption">
						<h4><%= portfolio.name %></h4>
						<p><%- portfolio.description.substring(0, 100) %></p>
					</div>
					<p><a href="/portfolios/<%= portfolio._id %>" class="btn btn-primary">More Info</a></p>
				</div>
			</div>
			<% }); %>
			</div>
	</div>	
</div>
<% include partials/footer %>