<% include partials/header %>
<div class="slider__case home">
	<div class="container slider__case--vertical--align">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center slider__case--color--white">The YelpCamp</h1>
				<p class="text-center"><a href="/campgrounds" class="btn btn-primary btn-lg">View All Campgrounds</a></p>
			</div>
		</div>
	</div>
</div>
<% include partials/footer %>