<% include partials/header %>
<h1>Registration Page</h1>

<form action="/register" method="POST">
	<input type="text" name="username" id="" placeholder="Username">
	<input type="password" name="password" id="" placeholder="Password">
	<input type="submit" value="Submit">
</form>

<% include partials/footer %>