<% include ../partials/header %>
<div class="container">
	<div class="row">
		<h1 style="text-align:center;">Create a New Portfolio</h1>
		<div style="width:60%; margin: 25px auto;">
			<form action="/portfolios" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="name" id="" placeholder="Name">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="image" id="" placeholder="Image URL">
				</div>
				<div class="form-group">
					<input class="form-control" type="date" name="date" id="" placeholder="Date">
				</div>
				<div class="form-group">
					<input class="form-control" type="number" name="coffee" id="" placeholder="Coffee Consumed">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="tags" id="" placeholder="Tags">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="siteurl" id="" placeholder="Site URL">
				</div>
				<div class="form-group">
					<textarea class="form-control" name="description" id="" cols="30" rows="10" placeholder="Description"></textarea>
				</div>
				<div class="form-group">
					<input class="btn btn-primary btn-lg btn-block"type="submit" value="Submit">
				</div>
			</form>
			<a href="/portfolios" class="btn btn-default btn-large">Go Back</a>
		</div>
		
	</div>
</div>

<% include ../partials/footer %>